<div class="page-wrapper">
  <ng-container *ngIf="currentQuestion$ | async as question">
    <div class="app-card">
      <h1>{{ question.QuestionText }}</h1>

      <div class="flex flex-wrap gap-4 justify-center mt-6">
        <button
          *ngFor="let option of question.Options"
          [appMouseAvoid]="!!option.Dodge"
          [attr.aria-disabled]="!option.Clickable"
          [class]="'px-6 py-3 rounded-2xl font-display text-lg shadow-lg transition-transform duration-150 ease-out ' +
                   getOptionClasses(option.ButtonStyle, option.ButtonMovement, option.Clickable, option.Dodge)"
          [style.color]="option.Clickable ? option.ButtonTextColor : '#6b7280'"
          (click)="onOptionClick(option)"
        >
          {{ option.ButtonText }}
        </button>
      </div>
    </div>
  </ng-container>
</div>